*.sqlite3
icd10_labelchecking.ipynb 
moduletagging.py 
*.dtd
*.rtf
*.xml 
*.xlsx
.gitignore 
.DS_Store


$ git check-ignore __pycache__/
__pycache__/
$ git check-ignore __pycache__
__pycache__
TestFiles/
RDAPI/
ICD10/

